.admin-navbar {
  height: 65px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 50;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #0f172a;
}

.navbar-title {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
}

.admin-info {
  display: flex;
  align-items: center;
  gap: 18px;
}

.admin-name {
  font-weight: 500;
  color: #334155;
}

.admin-logout-btn {
  background: #ef4444;
  padding: 8px 14px;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 500;
}

.admin-logout-btn:hover {
  background: #dc2626;
}

/* =============================
          MOBILE
============================= */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .admin-name {
    display: none; /* Cho navbar gọn hơn */
  }

  .navbar-title {
    font-size: 18px;
  }
}
