/* =============================
   ADMIN LAYOUT
============================= */

.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* MAIN AREA */
.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f1f5f9;
}

/* CONTENT AREA */
.admin-content {
  flex: 1;
  overflow-y: auto;
  padding: 25px;
}

/* =============================
      RESPONSIVE MOBILE
============================= */
@media (max-width: 768px) {
  .admin-layout {
    flex-direction: column; /* Sidebar tách khỏi layout */
  }

  .admin-content {
    padding: 18px;
  }
}
